.TimeRow {
  align-items: center;
  border-bottom: 1px solid #E8E8E8;
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  padding: 0 0 0 1em;
}

.TimeRow:hover button {
  visibility: visible;
}

.duration {
  flex: 0 0 6em;
  padding-right: 1em;
  text-align: right;
}

.recordedTime {
  flex: 1 1;
}

.deleteButton {
  flex: 0 0;
  padding-left: 0.5em;
}

.deleteButton button {
  background: transparent;
  border: none;
  color: #b91d47;
  cursor: pointer;
  flex: 0 0;
  outline: none;
  padding: 0.7em 1em;
  visibility: hidden;
}

.deleteButton button:hover {
  background: #b91d47;
  color: #fff;
}
