.TimeEntry {
  flex: 0 0 6em;
}

.TimeEntry .inner {
  display: flex;
  align-items: center;
}

.TimeEntry input {
  text-align: center;
  width: 100%;
}

.TimeEntry .hidden {
  visibility: hidden;
  padding: 5px;
}

.TimeEntry .close {
    color: #aaa;
    cursor: pointer;
    padding: 5px;
}
