html, body {
  background-color: #FAFBFC;
  margin: 0;
}

body, input, button {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
}

.App {
  .taskBody {
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
    border-top: 1px solid #F3F3F3;
    margin-top: 64px;
  }
}
