.TaskRow {
  display: flex;
  flex-direction: column;

  .summary {
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #E8E8E8;
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 1em;

    .toggleButton {
      flex: 0 0 1.5em;

      button {
        background: none;
        border: none;
        cursor: pointer;
        height: 100%;
        padding: 0.5em 0;
        width: 100%;

        img {
          width: 1.5em;
          vertical-align: middle;
        }
      }
    }

    .duration {
      flex: 0 0 4.5em;
      padding-right: 1em;
      text-align: right;
    }

    .taskName {
      flex: 1 1;
    }

    .continueButton {
      flex: 0 0;
      padding-left: 0.5em;

      button {
        background: transparent;
        border: none;
        color: #00aba9;
        cursor: pointer;
        flex: 0 0;
        height: 100%;
        padding: 0.7em 1em;
        visibility: hidden;
        width: 100%;
      }

      button:hover {
        background: #00aba9;
        color: #fff;
      }
    }

    &:hover {
      button {
        visibility: visible;
      }
    }
  }

  .hidden {
    display: none;
  }
}
