.TaskRow {
  display: flex;
  flex-direction: column;

  .summary {
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #E8E8E8;
    display: flex;
    justify-content: space-between;
    padding: 0.5em 1em;

    img {
      cursor: pointer;
      display: block;
      flex: 0 0 1.5em;
      width: 1.5em;
    }

    .duration {
      flex: 0 0 5em;
      margin-right: 1.5em;
      text-align: right;
    }

    .taskName {
      flex: 1 1;
      margin: 0 0.2em;
    }

    .continueButton {
      background: transparent;
      border: none;
      color: #03DAC6;
      cursor: pointer;
      flex: 0 0;
      outline: none;
      visibility: hidden;
    }

    .continueButton:hover {
      background: #03DAC6;
      color: #fff;
    }

    &:hover {
      .continueButton {
        visibility: visible;
      }
    }
  }

  .hidden {
    display: none;
  }
}
