.TaskRow {
  display: flex;
  flex-direction: column;

  .summary {
    background-color: #fff;
    border-bottom: 1px solid #E8E8E8;
    display: flex;
    justify-content: space-between;
    padding: 0.5em 1em;
  }

  .leftMargin {
    flex: 0 0 6em;
    display: flex;
    justify-content: space-between;
    margin-right: 0;
    text-align: right;
  }

  .duration {
    margin-right: 1.5em;
  }

  .hidden {
    display: none;
  }

  .taskName {
    margin-left: 0.2em;
    flex: 1 1;
  }

  .continueButton {
    background: transparent;
    border: none;
    color: #03DAC6;
    cursor: pointer;
    visibility: hidden;
    font-size: 14px;
    outline: none;
  }

  .continueButton:hover {
    background: #03DAC6;
    color: #fff;
  }

  .summary:hover {
    .continueButton {
      visibility: visible;
    }
  }
}
