.EntryForm {
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
  display: flex;
  height: 2em;
  justify-content: space-between;
  padding: 0.5em 1em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  img {
    cursor: pointer;
    display: block;
    flex: 0 0 1.5em;
    width: 1.5em;
  }

  input {
    background-color: transparent;
    border: none;
    box-shadow: none;
    display: block;
    height: 22px;
    outline: none;
  }

  .recordedTime {
    flex: 0 0 5em;
    margin-right: 1.5em;
    text-align: right;
    width: 5em;
  }

  .taskName {
    flex: 1 1;
    margin: 0 0.2em;
  }

  .startButton {
    background: #03DAC6;
    border: 1px solid #03DAC6;
    color: #fff;
    cursor: pointer;
    flex: 0 0;
    outline: none;
  }
}
