.EntryForm {
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);
  display: flex;
  height: 2em;
  justify-content: space-between;
  padding: 0.5em 1em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  input {
    background-color: transparent;
    border: none;
    box-shadow: none;
    height: 22px;
    outline: none;
    padding: 3px 5px;
  }

  .recordedTime {
    align-items: center;
    display: flex;
    flex: 0 0 6.5em;

    & > input {
      text-align: center;
      width: 100%;
    }

    ion-icon {
      width: 32px;
    }
  }

  .taskName {
    margin: 0 0.2em;
    width: 100%;
  }

  .startButton {
    background: #03DAC6;
    border: 1px solid #03DAC6;
    color: #fff;
    cursor: pointer;
    outline: none;
  }
}
