.TimeRow {
  border-bottom: 1px solid #E8E8E8;
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  padding: 0.5em 1em;

  .duration {
    flex: 0 0 6.5em;
    margin-right: 1.5em;
    text-align: right;
  }

  .recordedTime {
    flex: 1 1;
    margin: 0 0.2em;
  }

  .deleteButton {
    background: transparent;
    border: none;
    color: #B00020;
    cursor: pointer;
    flex: 0 0;
    outline: none;
    visibility: hidden;
  }

  .deleteButton:hover {
    background: #B00020;
    color: #fff;
  }

  &:hover {
    .deleteButton {
      visibility: visible;
    }
  }
}
